
.headerContainer{
    height: 5rem;
    background-color: var(--red-wine); // fundo vermelho bordô
}

.headerContent{
    max-width: 1280px;
    height: 5rem;
    margin: 0 auto;
    padding: 0 16px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    nav{
        display: flex;
        align-items: center;
        gap: 14px;

        a{
            color: var(--beige-100); // texto claro
            text-decoration: none;
            transition: color 0.5s;

            &:hover{
                background-color: var(--gold-500);
                color: var(--black);
            }
        }

        button{
            border: 0;
            background-color: transparent;
            margin-left: 16px;
            transition: transform 0.8s;
            &:hover{
                transform: scale(1.2);
            }
        }
    }
    
}

// .logo {
//   background-color: var(--beige-100); // ou branco (#fff) ou algo próximo
//   padding: 4px 8px;
//   border-radius: 8px; // opcional, para suavizar
// }
